.main-devis {
    display: flex;

}

.retour {
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.demande {
    width: 60%;

}

.recap {
    width: 40%;

}

.boutonRetour {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 60px;
    cursor: grab;
    flex-shrink: 0;
    background-color: #2072BC;
}

.main-devis,
h1 {
    color: #1D4C77;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 20px;
}

.voyage h2 {
    color: #1D4C77;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.voyage_container {
    border-radius: 25px;
    border: 2px solid #1D4C77;
    width: 650px;
}

.voyage_container p {
    color: #1D4C77;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.voyage {
    width: 365px;
    margin: 20px;
}


.voyage_container .date {
    display: flex;

}

.voyage_container .date p {
    padding: 10px;
}

.voyage_container .date .date_arrivee,
.date_depart {
    display: flex;
}

.voyage_container .personne {
    display: flex;
    align-items: center;
    border-top: 2px solid #1D4C77;

}

.voyage_container .personne p {
    margin: 20px;
}

.demande .date .date_arrivee {
    border-right: 2px solid #1D4C77;
}

.demande .personne {
    display: flex;
    justify-content: center;
    align-items: center;


}


.incons img{
    max-width: 48px;
    max-height: auto;
}

.icons_info {
    margin-left: 20px;
}

.icons_info h2 {
    color: #1D4C77;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    margin-left: 20px;
}

.icons div {
    width: 50%;
    margin-bottom: 20px;

    display: flex;
    text-align: center;
}

.icons div p {
    display: flex;
    align-items: center;
    align-items: center;
    margin-left: 20px;
    color: #1D4C77;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




#input_check_box_info {
    margin: 20px;

}

#check_box_info input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d3d3d3;
    outline: none;
    cursor: pointer;
    position: relative;
}

#check_box_info input[type="checkbox"]:checked {
    background-color: #2072BC;
}

#check_box_info input[type="checkbox"]:checked::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#check_box_info h2 {
    color: #1D4C77;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#check_box_info label {
    color: #1D4C77;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#check_box_info {

    margin: 20px;
}

#check_box_info p {
    color: #1D4C77;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 392px;
    margin-left: 20px;
}


.recap-info {
    width: 100%;
    margin-top: 20px;


    flex-shrink: 0;

    border-radius: 25px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;



}

.sticky_recap {
    position: sticky;
    top: 0;
    z-index: 1;
}


.info_logoment {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.info_logoment {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.info_logoment div {
    margin: 20px;
}


.info_logoment {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.info_logoment div {
    margin: 20px;
}


.info {
    color: #1D4C77;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.more_info {
    color: #1D4C77;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info_prix {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}





.label,
.value {
    color: #1D4C77;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.label_t {
    color: #1D4C77;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-devis .button_valider {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    height: 62px;
    background-color: #2072BC;
    color: #fff;
    text-align: center;
    line-height: 62px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
   
}


.conditions_anulations {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 272px;
    background: #F5F5F5;
}

.conditions_anulations h2 {
    color: #1D4C77;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.conditions_anulations p {
    color: #1D4C77;
    text-align: justify;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conditions_plus {
    margin: 20px auto;
    padding: 50px;

}

.main-devis .button_refuser a {
    display: none;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    height: 62px;
    background-color: #8A3443;
    color: #fff;
    text-align: center;
    line-height: 62px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

#block_date{
    background-color: #7297B8;
}

#block_date p{
    color: white;
}
.hidden {
    display: none;

}

#popup {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#popup p {
    margin: 20px;
}

.button_confirmation {
    display: flex;
    justify-content: space-between;

}

#popup a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

#popup a#annuler {
    background-color: #1D4C77;
}

#popup a#confirmer {
    background-color: #8A3443;
}

.main-devis .devisButton{
    border: none;

    cursor: grab;
    width: 100%;
    height: 62px;
    background-color: #2072BC;
    color: #fff;
    text-align: center;
    line-height: 62px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}




@media (max-width: 1300px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    .recap {
        margin-left: 100px;
        width: 50vw;
    }



}


@media (max-width: 800px) and (min-width: 200px) {
    .h1-mobile {
        color: #1D4C77;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .demande {
        width: 100%;
    }

    .conditions_anulations {

        width: 100%;
        height: 40vh;
    }

    .voyage_container {
        width: 350px;
        margin: 0px;
    }

    .voyage_container p {
        font-size: 15px;
    }

    .voyage_container h2 {
        color: #1D4C77;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    .voyage_container #date_blocker {
        background-color: red;
    }

    .h2-mobile {
        color: #1D4C77 !important;
        font-family: Inter !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
        margin: 10px !important;
    }

    .icons div p {
        display: flex;
        align-items: center;
        align-items: center;
        margin-left: 20px;
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .conditions_anulations p {
        color: #1D4C77;
        text-align: justify;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 20px;
    }

    .recap {
        width: 100%;
        margin: 20px;
    }

    .recap-info {
        width: 100%;
    }

    .main-devis .button_valider  {
        width: 100%;
    }

    img {
        width: 34px;
        height: 28px;
    }

    .icons p {
        color: #1D4C77 !important;
        font-family: Inter !important;
        font-size: 15px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: normal !important;
    }

    #check_box_info h2 {
        color: #1D4C77;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    #check_box_info label {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }


    #check_box_info p {
        color: #1D4C77;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    #check_box_info {
        margin-left: 20px !important;

    }

    #input_check_box_info {
        margin-bottom: 0px;
        display: flex;
        align-items: center;

    }

    .info_prix .row .label {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .info_prix .row .value {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .info_prix .row .label_t {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .info_logoment .info {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .info_logoment .more_info {
        color: #1D4C77;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .main-devis .button_valider  {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .main-devis .button_refuser a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
    }

    .boutonRetour {
        width: 50px;
        height: 37.778px;
        flex-shrink: 0;
        border-radius: 10px;
    }
}