#Personneeeeeeeeeeeee.quantity {
    border-radius: 50px;
    background: #FFF;
    width: 124px;
    height: 44px;
    font-size: 20px;
    text-align: center;
}

#Liste_Filtre {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%; /* Ajustez la largeur selon vos besoins */
  background-color: #1D4C77; /* Couleur de fond de la popup */
  color: #F5F5F5;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.2); /* Ombre sur le côté */
  z-index: 100; /* Assurez-vous que la popup est au-dessus du reste du contenu */

  overflow-y: scroll;
}

.barreBtnChoix{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 2em;
}

.btnChoix {
  -webkit-user-select: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  max-width: 350px;

  color: #F5F5F5;
  text-align: center;
  font-size: 20px;
  font-weight: 800;

  border-radius: 10px;
  background: #97ADC1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.btnChoix2{
  -webkit-user-select: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  max-width: 350px;

  color: #F5F5F5;
  text-align: center;
  font-size: 20px;
  font-weight: 800;

  border-radius: 10px;
  background: #97ADC1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
  
}

#Liste_Filtre h3{
  height: 20px;
  width: 200px;
  background-color: #1d4c77;
  margin-top: 10px;
  font-weight: 300;
}

#PrixMax.quantity {
  border-radius: 50px;
  background: #FFF;
  width: 124px;
  height: 44px;
  font-size: 20px;
  text-align: center;

}

#PrixMin.quantity {
  border-radius: 50px;
  background: #FFF;
  width: 124px;
  height: 44px;
  font-size: 20px;
  text-align: center;

}

.jailabarre {
  margin-top: 20px;
  background-color: white;
  width: 200px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.jailesbarres {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#quitterfiltre{
  position: absolute;
  margin-top: -4em;
}

#quitterfiltre svg{
  width: 65px;
  height: 50px;
}

#validerouuuu {
  color: #F5F5F5;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  width: 153px;
  height: 51px;
  border-radius: 10px;
  background: #2072BC;
  border: none;
  margin: 1em 0;
}


.b4r3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin: 1em 0;
}

.aaaaamenagement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1em 10em;
}

.inssssstaaaal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1em 0;
}

.serrrrrvice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1em 10em;
}

#premierebarre {
  margin-top: 5em;
}

.menutrie ul{
  line-height: 30px;
  position: absolute;
}

.menutrie li{
  list-style: none;
  float: left;
  position: relative;
}

.menutrie ul li a{
  text-decoration: none;
  width: 160px;
  height: 50px;
  display: block;
  text-align: center;
  margin-top: -2.5em;
  margin-left: 12em;
  border-radius: 30px;
  background: #2072BC;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #F5F5F5;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menutrie ul ul{
  position: absolute;
  top: 30px;
  visibility: hidden;
  background-color: #8AAECE;
  margin-top: -2.7em;
  margin-left: 17em;
  padding: 1em;
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.menutrie ul li:hover ul{
  visibility: visible;
}

.valiiiide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reeeetour {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 1775px) {
  
.jailabarre {
  width: 150px;
}

#validerouuuu {
  color: #F5F5F5;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  width: 153px;
  height: 51px;
  border-radius: 10px;
  background: #2072BC;
  border: none;
}


.b4r3 {
  margin: 1em 0;
}

.aaaaamenagement {
  margin: 1em 5em;
}

.serrrrrvice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1em 5em;
}

.menutrie ul li a{
  margin-left: 9em;
}

.menutrie ul ul{
  margin-left: 12em;
}
  
.valiiiide {
    margin: 1em;
}

} 

@media screen and (min-width: 0px) and (max-width: 1375px) {

  .jailabarre {
    width: 150px;
  }
  
  #validerouuuu {
    color: #F5F5F5;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    width: 153px;
    height: 51px;
    border-radius: 10px;
    background: #2072BC;
    border: none;
  }
  
  #Personne.quantity {
    border-radius: 50px;
    background: #FFF;
    width: 124px;
    height: 44px;
    font-size: 20px;
    text-align: center;
  
  }
  .b4r3 {
    margin: 1em 0;
  }
  
  .aaaaamenagement {
    margin: 1em 2em;
  }
  
  .serrrrrvice {
  
    margin: 1em 2em;
  }
  
  .menutrie ul li a{
    margin-left: 8em;
  }
  
  .menutrie ul ul{
    margin-left: 10.5em;
  }
    
  .valiiiide {
      margin: 1em;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #Liste_Filtre {
    width: 100%; /* Ajustez la largeur selon vos besoins */
  
    overflow-y: scroll;
  }
  
  .barreBtnChoix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    margin-top: 1em;
  }
  
  .btnChoix {
    -webkit-user-select: none;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
    width: 100px;
    height: 50px;
  
    color: #F5F5F5;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
  
    border-radius: 10px;
    background: #97ADC1;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  
  .btnChoix2{
    -webkit-user-select: none;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
    width: 80px;
    height: 50px;
    max-width: 350px;
  
    color: #F5F5F5;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
  
    border-radius: 10px;
    background: #97ADC1;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
  }
  
  #Liste_Filtre h3{
    height: 20px;
    width: 200px;
    background-color: #1d4c77;
    margin-top: 10px;
    font-weight: 300;
  }
  
  .jailabarre {
    margin-top: 20px;
    background-color: white;
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #quitterfiltre{
    display: none;
  }

  #validerouuuu {
    color: #F5F5F5;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    width: 153px;
    height: 51px;
    border-radius: 10px;
    background: #2072BC;
    border: none;
  }
  
  #Personne.quantity {
    border-radius: 50px;
    background: #FFF;
    width: 124px;
    height: 44px;
    font-size: 20px;
    text-align: center;
  
  }
  .b4r3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    margin: 1em 0;
  }
  
  .aaaaamenagement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    margin: 1em 0em;
  }
  
  .inssssstaaaal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    margin: 1em 0;
  }
  
  .serrrrrvice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    margin: 1em 0em;
  }
  
  #premierebarre {
    margin-top: 5em;
  }
  
  .menutrie ul{
    line-height: 50px;
    position: absolute;
  }

  .menutrie ul li a{
    text-decoration: none;
    width: 160px;
    height: 50px;
    display: block;
    text-align: center;
    margin-top: -2.5em;
    margin-left: 4.5em;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  }
  
  .menutrie ul ul{
    position: absolute;
    top: 30px;
    visibility: hidden;
    background-color: #8AAECE;
    margin-top: -2.7em;
    margin-left: 5em;
    padding: 1em;
    width: 200px;
  }
  .reeeetour {
    display: flex;
    color: #F5F5F5;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    width: 153px;
    height: 51px;
    border-radius: 10px;
    background: #2072BC;
    border: none;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #boutonsEnBaaaaas{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

}